# Dependencies
node_modules
.pnp
.pnp.js

# Production builds
dist
build
.vite

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Hardhat
artifacts
cache
ignition/deployments
typechain-types

# Coverage
coverage
coverage.json

# Temporary files
*.tmp
*.temp

# Local notes
notes.md
scratch.md